.card {
  display: flex;
}
.card .left .pheader {
  padding: 15px;
}
.card .right {
  display: flex;
}
.card .right .column {
  border: 1px solid #dadfea;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}
.card .right .column .cheader {
  padding-bottom: 5px;
}
.card .right .column .holeinput {
  width: 25px;
}
